# Auto detect text files and perform LF normalization
* text=auto

# Handle PDF files as binary
*.pdf binary
*.PDF binary

# Handle image files as binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.ico binary
